div#overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);

}

div#spinner {
  position: fixed;
  top: 50%;
  left: 50%;
}

.flower-12l-48x48 {
  animation: flower-12l-48x48 1s steps(12) infinite;
  display: block;
  width: 48px;
  height: 48px;
  background-image:url(../images/loading.png);
}
@keyframes flower-12l-48x48 { from { background-position: 0px 0px; } to { background-position: 0px -576px; } }
