body {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

body.waiting,  body.waiting div input {
    cursor: wait;
}

div#header {
    font-family: arial;
}

div#header h1 {
    font-size: 12pt;
}

div#header h1#stage_id {
    float: left;
}

div#header h1#project_name {
    float: left;
    padding-left: 20px;
}

div#header h1#verse_ref {
    float:left;
    padding-left: 20px;
}

div#header.collation_header {
    background: #9999EE;
}

div#header.regularisation_header {
    background: orangered;
}

div#header.set_variants_header {
    background: #FFBB55;
}

div#header.reorder_header {
    background: #99FF99;
}

div#header.approved_header {
    background: silver;
}



div.project_header {
    background: #CC99FF;
}

div.versional_editor_header {
    background: lightblue;
}



div.admin_header {
    background: #CCCCFF;
}



div#header {
    /*position: fixed;*/
    padding: 7px;
    height: 40px;
    /*width: 100%*/
}

#stage_links {
    margin-top: 14px;
    float: left;
}

#stage_links span {
    margin-left: 10px;
    margin-right: 10px;
}


div#header h1#version_language, div#header h1#other_versions_displayed, div#header h1#read_status {
    float: left;
    padding-left: 20px;
}



div#login_status {
    float: right;
    font-size: 11pt;
}

div#container {
    padding-top: 10px;
    padding-bottom: 50px;
}


div#container, div#scroller {
    overflow: auto;
    position: relative;
}

div#scroller {
    padding-left: 10px;
    padding-right: 10px;
}
/*
#footer {
    position: fixed;
    clear: both;
    width: 100%;
    height: 50px;
    bottom: 0;
    border-top: 1px solid black;
    padding: 0 0 0 10px;
    /*margin-left: -8px;*/
/*    text-align: right;
    background-color: white;
    overflow-y: auto;
}


#footer .left_foot {
    float: left;

}

#footer input, #footer select, #footer a {
    margin-top: 10px;
    margin-right: 15px;
}*/




div#footer {
    position: fixed;
    clear: both;
    width: 100%;
    height: 50px;
    bottom: 0;
    border-top: 1px solid black;
    padding: 0 0 0 0;
    background-color: white;
    overflow-y: auto;
}

div#footer select {
    margin-top: 9px;
    margin-right: 15px;
    height: 2em;
    padding: 0;
}

div#footer .pure-button {
	margin-top: 8px;
}

div#footer .left_foot {
	float:left;
	margin-left: 10px;
	margin-right: 5px;
}

div#footer .right_foot {
  float: right;
  margin-right: 10px;
	margin-left: 5px;
}
